{
    "root": true,
    "env": {
        "browser": false,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "quotes": [
            "warn",
            "single",
            "avoid-escape"
        ],
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "arrow-parens": "warn",
        "no-whitespace-before-property": "warn",
        "no-trailing-spaces": "warn",
        "comma-dangle": [
            "warn",
            "always-multiline"
        ],
        "@typescript-eslint/semi": "error",
        "eol-last": [
            "warn",
            "always"
        ],
        "curly": "error",
        "no-multiple-empty-lines": [
            "warn",
            {
                "max": 1
            }
        ],
        "max-len": [
            "error",
            {
                "code": 180,
                "ignoreComments": true
            }
        ]
    }
}